<template>
  <div class="auth-wrap">
    <input
      ref="image_upload"
      type="file"
      style="display: none"
      @change="imageSubmitted($event)"
    />
    <div class="stripe-upper"></div>
    <div class="stripe-lower"></div>
    <div class="auth-window-wrap">
      <div class="auth-window">
        <div class="auth-item auth-title">Login</div>
        <div class="auth-group">
          <div class="auth-item">
            <div
              class="pic"
              @mouseover="showIndicator = true"
              @mouseleave="showIndicator = false"
            >
              <div
                class="change-image-wrap"
                v-bind:class="{ hide: !showIndicator }"
              >
                <div class="add-image-wrap" @click="addImageClicked">
                  <img :src="`${$publicPath}add-img.png`" />
                </div>
              </div>
              <img :src="profile_picture" />
            </div>
            <div class="input-wrap">
              <input
                type="text"
                v-bind:class="{ 'bad-text': username.length > 16 }"
                placeholder="username"
                v-model="username"
              />
              <div
                class="input-limit"
                v-bind:class="{ 'bad-text': username.length > 16 }"
              >
                {{ `${username.length}/16` }}
              </div>
            </div>
          </div>
        </div>
        <div class="auth-group">
          <div class="auth-action-wrap">
            <button @click="authenticate">Log in</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AddImageModal from "../components/AddImageModal";
import axios from "axios";

export default {
  components: { AddImageModal },
  data() {
    return {
      username: "",
      showIndicator: false,
      uploaded_image: undefined,
      profile_picture: `${this.$publicPath}profile-img.jpg`,
      image_file: undefined,
    };
  },

  methods: {
    authenticate() {
      this.$auth.login_or_register(this.username, undefined, () => {
        if (this.uploaded_image !== undefined) this.set_profile_image();
        this.$router.push({ name: "Home" });
      });
    },

    set_profile_image() {
      this.$auth.set_profile_image(this.uploaded_image);

      console.log("set_profile_image");
    },

    addImageClicked() {
      this.$refs.image_upload.click();
    },

    updateProfileIMG(file) {
      var reader = new FileReader();
      var self = this;
      reader.onload = function (e) {
        self.profile_picture = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    imageSubmitted(event) {
      this.uploaded_image = event.target.files[0];
      this.updateProfileIMG(this.uploaded_image);
    },
  },
};
</script>

<style>
</style>