<template>
  <div class="app-root">
    <div id="root-content-section" class="app-content panel">
      <header class="header">
        <div @click="logout">Logout</div>
      </header>
      <section class="app-content-inner panel">
        <div class="sidebar">
          <Sidebar />
        </div>
        <div class="section panel">
          <router-view></router-view>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import Chat from "../components/Chat";
import Sidebar from "../components/Sidebar";

export default {
  name: "Home",
  components: { Chat, Sidebar },
  methods: {
    logout() {
      this.$auth.logout(() => {
        this.$router.push({ name: "Authorization" });
      });
    },
  },
};
</script>

 