html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #e7ebf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'IBM Plex Sans';
  font-weight: 300;
}

.app-root {
  display: flex;
  width: 80%;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #e3e3e3;
}

.app-content {
  flex-direction: column;
  overflow: auto;
}

.app-content-inner {
  flex-grow: 1;
  overflow: hidden;
}

.sidebar {
  padding: 5px;
  scrollbar-width: thin;    
  max-height: 1vh;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  flex-basis: 25%;
  min-width: 25%;
  border-right: 1px solid #e3e3e3;
}

.section {
  flex-grow: 1;
}

.panel {
  display: flex;
  flex-grow: 1;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: lightblue;
  padding-right: 15px;
}

footer {
  height: 50px;
  background-color: lightblue;
}