@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


.auth-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.stripe-upper {
    flex-grow: 0.6;
    background-color: #aedaec;
}

.stripe-lower {
    flex-grow: 1;
}

.auth-window-wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}


.auth-window {
    padding: 30px;
    background-color: #f9f9f9;


    border-radius: 3px;
}


.auth-group {
    margin-top: 30px;
}

.auth-title {
    font-family: 'Nunito', sans-serif;
    font-size: 16pt;
    font-weight: bold;
}

.auth-action-wrap {
    button {
        font-family: 'Nunito', sans-serif;
        font-size: 16pt;
        min-height: 40px;
        width: 100%;
        background-color: #558cb7;

        color: white;
        outline: none;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    button:hover {
        background-color: #376F9A;
    }
}

.auth-item {
    display: flex;
    align-items: center;
    flex-direction: column;

    .pic {
        position: relative;
        width: 100px;
        height: 100px;
        min-width: 100px;
        cursor: pointer;

        .change-image-wrap {
            position: absolute;

            width: 100%;
            height: 100%;
            background: white;
            border-radius: 100%;

            .add-image-wrap {
                img {
                    border-radius: 100%;
                    object-fit: none;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        img {
            border-radius: 100%;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }



    .input-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 15px;

        input {
            font-family: 'Nunito', sans-serif;
            width: 100%;
            line-height: 30px;
            padding: 5px;
            border-radius: 3px;
            outline: none;
            border: none;
            background: none;
            border-bottom: 1px solid;
            font-size: 13pt;

        }



        .input-limit {
            font-family: 'Nunito', sans-serif;
            text-align: end;
            font-size: 10pt;
        }

    }

}

.bad-text {
    color: lightcoral;
}

.add-image-modal {
    background-color: #f9f9f9;
    min-width: 460px;
    min-height: 300px;
}

.add-image-modal-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #aedaeca1;
}