@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.chat-history {
    max-height: 1rem;
}

.chat-wrap {
    flex-direction: column;
    overflow-y: scroll;
}

.chat-input {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding: 5px 15px 15px 15px;
    border-top: 1px solid #e3e3e3;

    .left-pane {}

    .chat-pane {

        width: 12.5%;
    }

    .image-holder {

        width: 32px;

        img {
            width: 100%;
        }
    }

    .chat-area {
        display: flex;
        flex-direction: column;
        flex-basis: 75%;

        textarea {
            width: 100%;
            height: 100%;
            padding: 10px;
            resize: none;
            border: none;
            border-bottom: 1px solid ;
            outline: none;
        }

        textarea:focus{
            border-bottom: 1px solid blue;
        }
    }

    .right-pane {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.chat-section-wrap {
    flex-direction: column;
}

.timestamp{
    display: flex;
    justify-content: flex-end;
    font-size: 10pt;
}

.chat-message {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    margin: 8px 10px 8px 16px;


    .element {
        display: flex;
        justify-content: center;
        flex-basis: 25%;
        padding: 0px 10px 10px 10px;
    }

    .body {         
        max-width: 60%;
        min-width: 465px;

        .name {

            padding-bottom: 5px;
        }

        .message {
            text-align: justify;
            background-color: gainsboro;
            padding: 10px;
            border-radius: 10px;

        }
    }



    $profile-size: 50px;

    .profile-pic {
        .pic {
            max-width: $profile-size;
            max-height: $profile-size;
            min-height: $profile-size;
            min-width: $profile-size;


            img {
                border-radius: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

}


.indicator-pic-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    max-height: 60px;
    min-height: 60px;
    min-width: 60px;

}

.hide {
    visibility: hidden;
}

