.sidebar-router-link {
    text-decoration: none;
    color: unset;
}

.sidebar-message:hover {
    background-color: antiquewhite;
}


.sidebar-message {
    
    width: 100%;
    margin: 3px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 5px;

    .left-pane {

        .pic {
            height: 50px;
            width: 50px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 100%;
            }
        }


    }

    .main-pane {
        overflow: hidden;
        padding-left: 8px;

        .content {
            padding-top: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .right-pane {
        font-size: 9pt;
        white-space: nowrap;
    }

}