.sidebar-message {
    background-color: antiquewhite;
    height: 70px;
    margin: 3px;
    display: grid;

    grid-template-columns: 20% 5fr 1fr;
    grid-template-rows: 100%;
    
    .pane { 
        .pic {


            img {
                object-fit: cover;
                border-radius: 100%;
                width: 100%;
                height: 100%;
            }
        }
    }

    .main-pane {

        .content {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }
    }

}