<template>
  <div class="header-root-wrap">
    <div>
      <div class="profile-img">
        <img
          src="https://www.eharmony.co.uk/dating-advice/wp-content/uploads/2011/04/profilephotos.jpg"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>