<template>
  <div class="chat-input">
    <div class="left-pane chat-pane"></div>
    <div class="chat-area">
      <div class="panel">
        <textarea placeholder="Write a message..." v-model="msg"></textarea>
      </div>
      <div class="panel"></div>
    </div>
    <div class="right-pane chat-pane">
      <div class="image-holder" @click="sendClicked">
        <img :src="`${$publicPath}enter.png`" class="header-logo-img" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      msg: "",
    };
  },
  methods: {
    sendClicked() {
        this.$emit('messageSent', this.msg)
    },
  },
};
</script>
 