<template>
  <div
    class="chat-message"
    @mouseover="showIndicator = true"
    @mouseleave="showIndicator = false"
    @click="contactUser()"
  >
    <div class="indicator element">
      <div class="indicator-pic-wrap">
        <div class="pic" v-bind:class="{ hide: !showIndicator }">
          <img :src="`${$publicPath}add-user.png`" />
        </div>
      </div>
    </div>
    <div class="profile-pic element">
      <div class="pic">
        <img :src="`//${$endpointHost}${content.sender.profile.photo}`" />
      </div>
    </div>
    <div class="body">
      <div class="name">{{ content["sender"]["username"] }}</div>
      <div class="message">
        {{ content["message"] }}
      </div>
      <div class="timestamp element">
        {{ this.toTime(content["timestamp"]) }}
      </div>
    </div>

    <div class="element"></div>
  </div>
</template>

<script>
import { toTime } from "../Services/Utils";
export default {
  props: ["content"],

  data: function () {
    return {
      showIndicator: false,
    };
  },
  methods: {
    toTime,
    contactUser() {
      this.$router.push({
        name: "chat",
        params: { scope: "chat", id: this.content.sender.id },
      });
    },
  },

  mounted() {},
};
</script>
 