<template>
  <div class="chat-section-wrap panel">
    <div class="chat-wrap panel">
      <ChatHistory :messages="messages" />
    </div>
    <ChatInput v-on:messageSent="sendMessage($event)" />
  </div>
</template>

<script>
import ChatInput from "../components/ChatInput";
import ChatHistory from "../components/ChatHistory";
import Connector from "../Services/SocketConnector";

export default {
  components: { ChatInput, ChatHistory },

  data() {
    return {
      messages: [],
      connector: undefined,
    };
  },

  watch: {
    "$route.params": function (ev) {
      this.connector.close();
      this.messages = [];
      this.initializeConnector();
    },
  },
  methods: {
    initializeConnector() {
      this.connector = new Connector(
        this.$route.params.scope,
        this.$route.params.id,
        () => {
          this.connector.add_on_message_listener(this.message_listener);
          this.connector.request_history();
        }
      );
    },

    sendMessage(message) {
      this.connector.send_message(message);
    },

    message_listener(event) {
      const data = JSON.parse(event.data);

      if (data.type === "message") {
        this.messages.push(data.message);
      }
      if (data.type === "history") {
        this.messages = data.payload;
      }
    },
  },

  mounted() {
    this.initializeConnector();
  },
};
</script>
 