<template>
  <router-link :to="`/chat/group/${id}`" class="sidebar-router-link">
    <div class="sidebar-message">
      <div class="left-pane">
        <div class="pic">
          <img :src="`//${this.$endpointHost}${group_photo}`" />
        </div>
      </div>
      <div class="main-pane">
        <div class="name">{{ name }}</div>
        <p class="content">
          {{ last_msg.message }}
        </p>
      </div>
      <div class="right-pane">
        {{ get_hours_minutes(last_msg.timestamp) }}
      </div>
    </div>
  </router-link>
</template>

<script>
import Connector from "../Services/SocketConnector";
import { get_hours_minutes } from "../Services/Utils";

export default {
  props: ["id", "name", "group_photo", "last_message"],

  data() {
    return {
      last_msg: this.last_message,
    };
  },

  methods: {
    get_hours_minutes,
    initializeConnector() {
      this.connector = new Connector("group", this.id, () => {
        this.connector.add_on_message_listener((ev) => {
          this.message_listener(ev);
        });
      });
    },
    message_listener(event) {
      const data = JSON.parse(event.data);
      if (data.type === "message") {
        this.last_msg = { ...data.message };
      }
    },
  },

  mounted() {
    this.initializeConnector();
  },
};
</script>

<style>
</style>