<template>
  <router-link :to="`/chat/chat/${id}`" class="sidebar-router-link">
    <div class="sidebar-message">
      <div class="left-pane">
        <div class="pic">
          <img :src="`//${this.$endpointHost}${profile_photo}`" />
        </div>
      </div>
      <div class="main-pane">
        <div class="name">{{ username }}</div>
        <p class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
          varius et ipsum et rhoncus. Pellentesque consectetur dignissim
          sodales.
        </p>
      </div>
      <div class="right-pane">11:18 AM</div>
    </div>
  </router-link>
</template>

<script>
export default {
  props: ["id","username","profile_photo"],

  data() {
    return {};
  },

  methods: {},
  computed: {
    photo() {
      if (
        this.item &&
        "profile" in this.item &&
        this.item.profile !== null &&
        "photo" in this.item.profile &&
        "photo" !== null
      ) {
        return this.item.profile.photo;
      }
      return null
    },
  },
};
</script>

<style>
</style>