<template>
  <div>
    <SidebarGroup
      v-for="(group, index) in groups"
      :name="group.name"
      :id="group.id"
      :group_photo="group.profile.photo"
      :last_message="group.last_message"
      :key="`sidebar-group-${index}`"
    />

    <SidebarMsg
      v-for="(item, index) in messages"
      :id="item.id"
      :username="item.username"
      :profile_photo="item.profile.photo"
      :key="`sidebar-message-${index}`"
    />
  </div>
</template>

<script>
import SidebarMsg from "./SidebarMsg";
import SidebarGroup from "./SidebarGroup";
import Group from "../Services/Group";

export default {
  components: { SidebarMsg, SidebarGroup },

  data() {
    return {
      messages: [],
      groups: [],
    };
  },

  methods: {
    get_messages() {
      this.$auth.get_messages((messages) => {
        this.messages = messages;
      });
    },
  },
  mounted() {
    this.get_messages();

    let group = new Group();

    group.get_groups((groups) => {
      this.groups = groups;
    });
  },
};
</script>

<style>
</style>